<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="101.0.18" targetFramework="net452" />
  <package id="cef.redist.x86" version="101.0.18" targetFramework="net452" />
  <package id="CefSharp.Common" version="101.0.180" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="101.0.180" targetFramework="net452" />
  <package id="Microsoft.Web.WebView2" version="1.0.1210.39" targetFramework="net452" />
</packages>